$white: white;
$black: black;
$red: red;
$background: rgb(246, 255, 214);
$primary: rgb(54, 45, 192);
$primaryDark: rgb(17, 12, 92);
$primaryLight: rgb(121, 113, 238);
$mainShadow: 2px 2px 1px 0px black;
$disabledBackground: #CCC;
$disabledColor: gray;